/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*処方箋ボタン*/

.btn--navy,
a.btn--navy {
  color: #fff;
  background-color: #00334E;
}
.btn--navy:hover,
a.btn--navy:hover {
  color: #fff;
  background: #004766;
}

a.btn--radius {
   border-radius: 100vh;
}

/*動画ボタン*/

.btn--red,
a.btn--red {
  color: #fff;
  background-color: #ff0000;
}
.btn--red:hover,
a.btn--red:hover {
  color: #fff;
  background: #CC0000;
}

a.btn--radius {
   border-radius: 100vh;
}

/* target="_blank" を持つリンクにアイコンを追加 */

a[target="_blank"]::after {
  content: "\f35d"; /* Font Awesome のアイコンコード（例: 外部リンクアイコン） */
  font-family: "Font Awesome 5 Free"; /* Font Awesome のフォントファミリー */
  font-weight: 900; /* 必要なら適切なフォントウェイトを指定 */
  margin-left: 5px; /* アイコンとリンクテキストの間にスペースを追加 */
  font-size: 0.8em; /* アイコンのサイズを調整 */
}

/* デフォルトは黒色 */
a[target="_blank"]::after {
  color: #000000;
}

/* 親要素が dark-bg の場合は白色に変更 */
.dark-bg a[target="_blank"]::after {
  color: #ffffff;
}

/* 戻るボタンを中央に配置 */
.button-container {
  display: flex; /* フレックスボックスを有効化 */
  justify-content: center; /* 水平方向に中央揃え */
}

/*その他と主な共通部分は省略*/

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 500%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #fff100;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
  transform: translateX(-9%) translateY(-25%) rotate(135deg);
}